.fotka {
    width:200px;
 }
 h2 {
     color:#000080;
 }

 body {
     background-image: url('photos/heart-pozadi.png');
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
 }

 .page {
     background-color: rgba(255, 255, 255, 0.9);
 }

 .carousel img {
     width: 100%;
 }

 .zenich-a-nevesta img {
     width:100%;
 }
 .card-title {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
 }

 .odpocitavani .jumbotron .lead {
     font-size: 2rem;
 }

 .car {
     width: 64px;
     height: 64px;
 }

 .train {
    width: 64px;
    height: 64px;
 }

 .heart {
     width: 25px;
     height: 25px;
 }
.program span{
    
    display: inline-block;
    width: 8em;
}
 #nadpis img {
     width: 200px;
    
 }
 #nadpis h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 85px;
 }

 /* .carousel {
     width.max: ;
     height:200px;
 } */

 .pinterest > span {
     width: 100% !important;
 }
 

 .program-item {
     background-image: url('photos/heart-small.png');
     background-position: 5px 5px;
     background-repeat: no-repeat;
     background-size: 25px 25px;
     padding-left: 50px;
     font-size: 1.25rem;
     display: flex;
 }

 .program-item-time {
     flex: 0 0 7rem;
 }

 .program-item-text {
    flex: 1;
}
